/* -----------------------------------
Trending Section & Most Watched Section : CSS
----------------------------------- */

/* Center align and style the Trending and Most Watched sections */
.trending, .mostWatched {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 98%;
}

/* heading in Trending and Most Watched sections :: */
.trending .trending-h4,
.mostWatched .mostWatched-h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

/* large text in Trending section :: */
.trending .text-xl {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}

/* subtexts in Trending section :: */
.trending .sub-texts {
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

/* cards :: */
.card {
  margin: 0.5rem;
  border-radius: 0.5rem;
}

/* card images :: */
.card-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* info card :: */
.info-card {
  height: 100%;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  align-items: center;
  gap: 0.2rem;
}

/* content div :: */
.contentDiv {
  padding: 0.2rem;
}

/* genre text :: */
.genre {
  font-size: 0.75rem;
  color: #999;
  font-weight: 400;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
}

/* title text :: */
.title {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
}

/* description text :: */
.description {
  font-size: 0.75rem;
  color: #999;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
}

/* paragraph text in Trending and Most Watched sections :: */
.trending-p,
.mostWatched-p {
  color: #a0a0a0;
  margin: 0.2rem 0 0.2rem 1.5rem;
  font-size: 1.1rem;
}

/* left and right elements :: */
#left {
  margin-top: 80px;
}

#right {
  margin-top: 80px;
}

/* elements with a margin-top of 30px :: */
.bottom4 {
  margin-top: 30px;
}

/* elements with a margin-top of 25px :: */
.bottom5 {
  margin-top: 25px;
}

/* paragraph text in Trending and Most Watched sections :: */
.trending-p,
.mostWatched-p {
  color: #a0a0a0;
  margin: 0.2rem 0 0.2rem 1.5rem;
  font-size: 1.1rem;
}

/* the glider containers :: */
.trending-glider,
.trending-gliderContainer,
.mostWatched-glider,
.mostWatched-gliderContainer,
.glider-contain {
  margin: 0 auto;
  position: relative;
}

/* gliders and their tracks :: */
.trending-glider,
.mostWatched-glider,
.glider-track {
  transform: translateZ(0);
}

/* glider dots, next, and previous buttons :: */
.glider-dot,
.glider-next,
.glider-prev {
  border: 0;
  padding: 0;
  user-select: none;
  outline: 0;
}

/* glider containers :: */
.trending-gliderContainer,
.mostWatched-gliderContainer,
.glider-contain {
  width: 100%;
}

/* gliders with hidden overflow :: */
.trending-glider,
.mostWatched-glider {
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

/* glider track :: */
.glider-track {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

/* draggable gliders :: */
.trending-glider.draggable,
.mostWatched-glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

/* images in draggable gliders :: */
.trending-glider.draggable .glider-slide img,
.mostWatched-glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}

/* glider when being dragged :: */
.trending-glider.drag,
.mostWatched-glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* glider slides :: */
.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 150px;
}

/* images in glider slides :: */
.glider-slide img {
  max-width: 100%;
}

/* glider scrollbars (hidden) :: */
.trending-glider::-webkit-scrollbar,
.mostWatched-glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

/* next and previous buttons in gliders :: */
.glider-next,
.glider-prev {
  position: absolute;
  background: 0 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -1rem;
  top: 30%;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

/* Hover/focus styles for next and previous buttons :: */
.glider-next:focus,
.glider-next:hover,
.glider-prev:focus,
.glider-prev:hover {
  color: rgb(228, 226, 226);
}

/* the next button :: */
.glider-next {
  right: -0.98rem;
  left: auto;
}

/* disabled next and previous buttons :: */
.glider-next.disabled,
.glider-prev.disabled {
  opacity: 0.25;
  color: #666;
  cursor: default;
}

/* hiding elements :: */
.glider-hide {
  opacity: 0;
}

/* glider dots :: */
.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

/* individual glider dots :: */
.glider-dot {
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

/* Hover/focus glider dots :: */
.glider-dot:focus,
.glider-dot:hover {
  background: #ddd;
}

/* the active glider dot :: */
.glider-dot.active {
  background: #a89cc8;
}

/* Media query for smaller screens :: */
@media (max-width: 36em) {
  /* scrollbars in gliders (visible) :: */
  .trending-glider::-webkit-scrollbar,
  .mostWatched-glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }

  /* scrollbar thumbs :: */
  .trending-glider::-webkit-scrollbar-thumb,
  .mostWatched-glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
