/*-----------------------------------
            Basic CSS
-----------------------------------*/


/* Global CSS styles for the entire website :: */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #0C3B2E !important;
}

/* CSS for scrollbars :: */
body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(169, 169, 169);
  border-radius: 0.5rem;
}

body.active {
  overflow: hidden;
}

/* Global HTML styles :: */
html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%
}

/* Global styles for common elements :: */
a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

/* Global styles for form inputs and buttons :: */
input {
  font: inherit;
  width: 100%;
  border: none;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

hr {
  border: 0.5px solid #4d4d4d;
  width: 95%;
}


/* CSS for titles and subtitles :: */
.h1,
.h2,
.h3 {
  color: hsl(0, 100%, 100%);
  line-height: 1.2;
}

.h1 {
  font-size: 136px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 18px;
}

/*------------------------------------------------------------------------------------------------*/



/*-----------------------------------
            Header CSS
-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: 0.25s ease-in;
  z-index: 4;
}

.header-container {
  padding-inline: 15px;
}

.header.active {
  background: #0C3B2E;
  padding-block: 20px;
}

/* header container :: */
.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: none;
}

.header-menu-openbtn {
  color: hsl(0, 100%, 100%);
  font-size: 40px;
}

/* navigation bar :: */
.navbar {
  position: fixed;
  top: 0;
  right: -300px;
  background: #0C3B2E;
  width: 100%;
  max-width: 300px;
  height: 100%;
  transition: 0.15s ease-in;
  visibility: hidden;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  transition: 0.25s ease-out;
}

/* top of the navigation bar :: */
.navbar-top {
  padding: 30px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu-closebtn {
  color: hsl(0, 100%, 100%);
  font-size: 25px;
  padding: 5px;
}

.header-menu-closebtn ion-icon {
  --ionicon-stroke-width: 80px;
}


/* navigation links :: */
.navbar-list {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  margin-bottom: 30px;
}

.navbar-link {
  color: hsl(0, 100%, 100%);
  font-size: 15px;
  font-weight: 500;
  padding: 10px 25px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: 0.15s ease;
}

.navbar-link:is(:hover, :focus) {
  color: #FFBA00;
}


/* sign-in button :: */
.signin-btn {
  border: 0.5px;
  color: white;
  font-size: 13px;
  padding: 5px;
  background-color: #FFBA00;
  border-radius: 5px;
  margin-left: 10px;
  width: 55px;
  align-items: center;
  display: flex !important;
}

/* social icons :: */
.navbar-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar-social-link {
  font-size: 20px;
  color: hsl(0, 100%, 100%);
  transition: 0.15s ease;
}

.navbar-social-link:is(:hover, :focus) {
  color: #FFBA00;
}


/* header container overlay :: */
.header-container-overlay {
  position: fixed;
  inset: 0;
  background: hsla(204, 18%, 11%, 0.8);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: 0.25s ease-in;
}

.header-container-overlay .active {
  opacity: 1;
  pointer-events: all;
}


/*-----------------------------------
      Header Media Queries CSS
-----------------------------------*/

/* responsive for large than 360px screen :: */
@media (min-width: 360px) {
  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
  }

  .search-btn {
    position: relative;
    color: hsl(0, 100%, 100%);
  }

  .search-btn ion-icon {
    --ionicon-stroke-width: 80px;
  }

  .search-btn::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -10px;
    background: hsla(0, 0%, 100%, 0.1);
    width: 2px;
    height: 14px;
  }

  .signin-Div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .signin-Div option {
    color: hsl(0, 0%, 0%);
  }

}

/* responsive for large than 550px screen :: */
@media (min-width: 550px) {
  .header-container {
    max-width: 540px;
    margin-inline: auto;
  }

  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
  }

  .search-btn {
    position: relative;
    color: hsl(0, 100%, 100%);
  }

  .search-btn ion-icon {
    --ionicon-stroke-width: 80px;
  }

  .search-btn::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -20px;
    background: hsla(0, 0%, 100%, 0.1);
    width: 2px;
    height: 14px;
  }

  .signin-Div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .signin-Div option {
    color: hsl(0, 0%, 0%);
  }

}

/* responsive for large than 768px screen :: */
@media (min-width: 768px) {
  .header-container {
    max-width: 720px;
  }

  .header .header-container {
    gap: 30px;
  }

  .header-actions {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
  }

  .search-btn {
    position: relative;
    color: hsl(0, 100%, 100%);
  }

  .search-btn ion-icon {
    --ionicon-stroke-width: 80px;
  }

  .search-btn::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -20px;
    background: hsla(0, 0%, 100%, 0.1);
    width: 2px;
    height: 14px;
  }

  .signin-Div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .signin-Div option {
    color: hsl(0, 0%, 0%);
  }

}

/* responsive for large than 992px screen :: */
@media (min-width: 992px) {
  .header-container {
    max-width: 960px;
  }

  .header.active {
    padding-block: 5px;
  }

  .header-menu-openbtn,
  .navbar-top,
  .navbar-social-list {
    display: none;
  }

  .navbar {
    all: unset;
    margin-left: auto;
  }

  .header-actions {
    order: 1;
    margin-left: 0;
  }

  .navbar-list {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar-link {
    border-bottom: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px 15px;
  }

  .header-container-overlay {
    display: none;
  }

}

/*  responsive for large than 1200px screen :: */
@media (min-width: 1200px) {
  .header-container {
    max-width: 1320px;
  }

  .navbar {
    margin-inline: auto;
  }

}

/*------------------------------------------------------------------------------------------------*\


/*-----------------------------------
      Home page slider CSS
-----------------------------------*/

.home-slider {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}

.home-slider-container {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
  background: rgba(0, 0, 0, 0.1);
}


/* individual slides :: */
.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 1s;
  overflow: hidden;

}

.slider img {
  width: 70%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}


/* slide content :: */
.slider-content {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #6D9773 80%, #0c111b00);
  color: #fff;
  z-index: 2;
}


/* movie titles and descriptions :: */
.movie-title {
  padding-left: 15px;
  text-transform: capitalize;
  margin-top: 80px;
}

.more-info {
  display: flex;
  width: 100%;
  line-height: 30px;
  padding-left: 15px;
  opacity: 0.8;
  font-size: 15px;
  color: #fff;
}

.movie-desc {
  width: 100%;
  line-height: 30px;
  padding-left: 15px;
  margin-top: 30px;
  opacity: 0.5;
  color: #fff;
}


/* "Watch Movie" button :: */
.watch-movie {
  border: 2px solid #FFBA00;
  background: #6D9773;
  color: #fff;
  border-radius: 50px;
  margin-left: 10px;
  width: 190px;
  opacity: 0.8;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center !important;
  padding: 13px 25px;
  transition: 0.15s ease;
}


.watch-movie:is(:hover, :focus) {
  background: #FFBA00;
  color: hsl(253, 21%, 13%);
}


/* Media Queries for slider responsiveness :: */

/*  responsive for large than 880px screen :: */
@media (max-width: 880px) {
  .movie-title {
    padding-left: 15px;
    text-transform: capitalize;
    margin-top: 20px;
  }

  .more-info {
    width: 150%;
    line-height: 30px;
    padding-left: 15px;
    opacity: 0.8;
    font-size: 15px;
    color: #fff;
  }

  .movie-desc {
    width: 100%;
    line-height: 30px;
    padding-left: 15px;
    opacity: 0.5;
    color: #fff;
  }
}

/*  responsive for large than 880px screen :: */
@media (max-width: 710px) {
  .movie-title {
    padding-left: 15px;
    text-transform: capitalize;
    margin-top: 20px;
  }

  .more-info {
    width: 200% !important;
    line-height: 20px;
    padding-left: 15px;
    opacity: 0.8;
    font-size: 15px;
    color: #fff;
  }

  .movie-desc {
    width: 150%;
    line-height: 25px;
    padding-left: 15px;
    opacity: 0.5;
    color: #fff;
  }
}

/*------------------------------------------------------------------------------------------------*/


/*-----------------------------------
       Featured Content CSS
-----------------------------------*/

.featured-content {
  position: relative;
  width: 100%;
  height: 490px;
  margin-top: 80px;
}

.featured-content-div {
  position: relative;
  margin: auto;
  height: 110%;
  padding: 10px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 100%;
  line-height: 30px;
  padding-left: 10px;
  color: lightgray;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}


/* movie titles and descriptions in featured content :: */
.movie-title2 {
  font-size: 40px;
  font-weight: bold;
  color: #FFBA00;
  padding-left: 15px;
  text-transform: capitalize;
  margin-top: 80px;
}

.moreInfo2 {
  width: 100%;
  line-height: 30px;
  padding-left: 15px;
  opacity: 0.8;
  font-size: 20px;
  color: #fff;
}

.movie-des2 {
  width: 50%;
  line-height: 30px;
  padding-left: 15px;
  margin-top: 30px;
  opacity: 0.6;
  font-size: 18px;
  color: #fff;

}

.contentFlex {

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* "Watch Movie" button in featured content :: */
.watch-movie2 {
  border: 2px solid #FFBA00;
  background: #6D9773;
  color: #fff;
  border-radius: 50px;
  margin-left: 10px;
  opacity: 0.8;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center !important;
  padding: 13px 25px;
  transition: 0.15s ease;
}

.watch-movie2:is(:hover, :focus) {
  background: #FFBA00;
  color: hsl(253, 21%, 13%);
}


/* Media Queries for featured content responsiveness :: */

/*  responsive for large than 880px screen :: */
@media (max-width: 630px) {
  .movie-title2 {
    font-size: 40px;
    font-weight: bold;
    color: #FFBA00;
    padding-left: 10px;
    text-transform: capitalize;
    margin-top: 20px;
  }

  .moreInfo2 {
    width: 100%;
    line-height: 30px;
    padding-left: 10px;
    opacity: 0.8;
    font-size: 20px;
    color: #fff;
  }

  .movie-des2 {
    width: 80%;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 30px;
    opacity: 0.6;
    font-size: 18px;
    color: #fff;

  }

  .contentFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/*  responsive for large than 880px screen :: */
@media (max-width: 410px) {

  .movie-title2 {
    font-size: 30px;
    font-weight: bold;
    color: #FFBA00;
    text-transform: capitalize;
    margin-top: 15px;
  }

  .moreInfo2 {
    width: 80%;
    line-height: 30px;
    opacity: 0.8;
    font-size: 18px;
    color: #fff;
  }

  .movie-des2 {
    width: 90%;
    line-height: 30px;
    margin-top: 50px;
    opacity: 0.6;
    font-size: 16px;
    color: #fff;

  }

  .contentFlex {

    margin-top: 50px;
  }

  .watch-movie2 {
    font-size: 10px;
  }
}

/*------------------------------------------------------------------------------------------------*/


/*-----------------------------------
       Footer CSS
-----------------------------------*/

.footer {
  background: #6D9773;
  color: #FFBA00;
}

.footer a {
  color: #FFF;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

/* footer lists and headings :: */
.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-list .footer-list-head {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.footer-divider {
  width: 100%;
  height: 3px;
  border-top: 1px #ccc solid;
  margin: 30px 0;
}

/* social icons in the footer :: */
.footer-socialicons {
  display: flex;
}

.footer-socialicons a {
  width: 25px;
  height: 25px;
  margin-right: 22px;
}

/* Media Query for footer responsiveness :: */
@media(max-width:768px) {
  .footer-list {
     flex-direction: column;
  }
}